body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #DDD7C8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  background-color: white !important;
}

header{
  background-image: url('https://i.ibb.co/ZXYBzwJ/sessionable-beer-header.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  padding: 2em;
  box-sizing: border-box;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  /* width: 200px; */
}

.icon{
  display: inline-block;
  background-color: white;
  padding: 10px;
}

.beer-icon{
  height: 100px;
  width: auto;
}

p{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
